@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
}
body {
  transition:
    background 0.3s,
    color 0.3s;
}
html.dark body {
  background-color: #18181b;
  color: white;
}

html.dark {
  background-color: #18181b;
}

html.dark ::-webkit-scrollbar {
  width: 12px;
}

html.dark ::-webkit-scrollbar-track {
  background: #18181b;
}

html.dark ::-webkit-scrollbar-thumb {
  background: #52525b;
  border-radius: 999px;
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}
